{% extends "base.html"%}
{% load staticfiles %}
{% block title %}Freeling App{% endblock %}
{% block content%}
	<div>
		<div class='header'>
			Freeling App
		</div>
		<form>
			<div class="form-group">
			      	 <label>Input text:</label>
		                 <textarea class="form-control" rows="7" ng-model="inputText"></textarea>
			</div>
			<button type="submit" class="btn btn-primary" ng-click="submitText()">Submit</button>

		</form>
	</div>

	<div class="table-container" ng-if="isThereAnyData()">
		<!--	<pre>{[{data}]}</pre>-->
		<hr>
    		<table cellspacing="20" >
			<tr ng-repeat="sentence in data">
				<td ng-repeat="word in sentence"class="col-md-3">
					<span class="form">Form:{[{word.form}]}</span>
					<br>
					<hr>
					<span class="lemma">Lemma:{[{word.lemma}]}</span>
					<br>
					<hr>
					<!--<div ng-repeat="an in word.analysis">
						<span class="tag">{[{an.tag}]}</span>
						<br>
						<span class="prob">{[{an.prob}]}</span>
						<hr>
					</div>-->
				</td>
			</tr>
			</td>
		</table>

	</div>

{% endblock %}
