{% extends "base.html"%}
{% load staticfiles %}
{% block title %}Freeling App{% endblock %}
{% block content%}
	<div>
		<div class='header'>
			Freeling App
		</div>
		<form>
			<div class="form-group">
			      	 <label>Input text:</label>
		                 <textarea class="form-control" rows="7" ng-model="inputText"></textarea>
			</div>
			<button type="submit" class="btn btn-primary" ng-click="submitText()">Submit</button>
		</form>
	</div>
	<div>
		<data-table></data-table>
	</div>
	Mundo
{% endblock %}
