*~
*pyc
db.sqlite3
/node_modules
static/angular
static/angular-route
static/bootstrap
static/angular-bootstrap
static/jquery
static/less
static/stanford-parser
static/dbparser
static/stanford-postagger
static_media
