.freeling-app {
  padding: 10px;
}
.freeling-app .header {
  background: #777;
  color: #fff;
  font-size: 24pt;
  height: 60px;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}
.freeling-app .form-control {
  width: 60%;
}
.freeling-app .table-container {
  padding: 10px;
  width: 60%;
  border-collapse: collapse;
  table-layout: fixed;
  empty-cells: show;
  height: 600px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.freeling-app .table-container td {
  border-top: 0;
  border-bottom: 0;
  border: 2px solid gray;
}
