.freeling-app {
	padding: 10px;
	.header {
		background: #777;
	 	color: #fff;
	 	font-size: 24pt;
	 	height: 60px;
	 	padding-top: 1rem;
	 	text-align: center;
	 	width: 100%;
	};

	.form-control {
		width: 60%;
	};

	.table-container {
		padding: 10px;
		width: 60%;
		border-collapse: collapse;
		table-layout: fixed;
		empty-cells: show;
		height: 600px;
    overflow-y: scroll;
    overflow-x: scroll;
		td{
			 border-top: 0;
			 border-bottom: 0;
 		   border: 2px solid gray;
		}
	};

	.tree-container {
		//padding: 10px;
		width: 60%;
		height: 500px;
	}
	.parseval-container{
		padding: 10px;
		width: 60%;
		border-collapse: collapse;
		table-layout: fixed;
		empty-cells: show;
		height: 100px;
		td{
			 padding: 5px;
			 border-top: 0;
			 border-bottom: 0;
 		   border: 2px solid gray;
		}
		th{padding: 5px}
	}
}
